{% extends 'base.html.twig' %}

{% block stylesheets %} {{ encore_entry_link_tags('home') }} {% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class="grid-container">
    <div class="item1">
    {% block header %}
    <div class="wrapper d-flex">
    <div class="sidebar">
        <img src="../assets/images/home.svg"/>
            <h6 class="email"> {{email}}</h6>
            <h3>Mes listes</h3>
            {% for list in lists %}

                <ul class="list js-list">
                    <li>{{ list.Titre }}</li>
                </ul>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}


            <hr/>

            <div class="inputField">
                {{ form_start(form2) }}
                {{ form_widget(form2,{'attr': {'class': 'task_field','placeholder': 'Le contenu de l\'article'}}) }}
                <button class="btn js-form-submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                {{ form_end(form2) }}
            </div>
            <footer>
                <a href=""> Parametres</a>
            </footer>
    </div>
    </div>
</div>
        
    {% endblock %}

    <div class="item2">
    <div class="test">
        <h2>Mes Prochaines Tâches</h2>

        <div  >

            
               
            {% for task in tasks %}
                <ul >
                    <a class="list-task" href="{{ path('task_edit',{'id':task.Id}) }}">
                    
                        
                        {{ task.Titre }}
                        {{ task.Date ? task.Date|date('d-m-Y') : '' }}
                        
           
                </a>
                </ul>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
           
        </div>
    </div>
    
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}

    <hr/>
 
    <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Nouvelle tache</button>

<!-- Modal -->
<div id="myModal" class="modal fade" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        
        {{include("task/new.html.twig")}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>


{% block content %}{% endblock %}

</div>
{% endblock %}