{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>EstValide</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.Titre }}</td>
                <td>{{ task.EstValide ? 'Yes' : 'No' }}</td>
                <td>{{ task.Date ? task.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    <a href="{{ path('task_new') }}">Create new</a>#}
    {#    <button class="btn">{{ button_label|default('Save') }}</button>#}

    <hr />

    <h1>Create new Task</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}



    <hr />

    {% for list in lists %}
        <tr>
            <td>{{ list.id }}</td>
            <td>{{ list.Titre }}</td>
            <td>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}

    <hr />

    {{ form_start(form2) }}
    {{ form_widget(form2) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form2) }}


{% endblock %}