{% extends 'base.html.twig' %}

{% block stylesheets %} {{ encore_entry_link_tags('login') }} {% endblock %}

{% block title %}Parameter{% endblock %}


{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.Password.first) }}
        {{ form_row(form.Password.second) }}

        <button type="submit" class="btn">Changez mon mot de passe</button>
        {{ form_end(form) }}

    </div>
{% endblock %}